header {
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--one-color);
}

nav {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav > a {
  font-size: 3rem;
}

nav > span {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav > span > a {
  font-size: 1.3rem;
}

nav a {
  color: var(--two-color);
  text-decoration: none;
}
